@use '@/styles/mixins';

.header {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  position: relative;
  z-index: 10;

  &__mobile {
    display: flex;
    gap: 4px;
  }

  &__logo-wrapper {
    display: flex;
    gap: 12px;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;

      img {
        display: none;

        @include mixins.media-query('xs') {
          display: block;
          width: var(--spacing-6);
          height: var(--spacing-6);
        }
      }
    }
  }

  &__text {
    color: #fff;
    font-family: 'Pokemon-Solid', sans-serif;
    cursor: pointer;
  }

  &__search {
    background: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    border: 1px solid #dedede;
    border-radius: 6px;
    padding: 4px 12px;

    @include mixins.media-query('xs') {
      padding: 4px 12px;
    }
  }

  &__search-icon {
    width: 12px;
    height: 12px;
    cursor: pointer;
    color: #CBCBCB;
    transition: color 1s ease-in-out, transform 1s ease-in-out;
    display: none;

    &:hover {
      color: #E54222;
      transition: color 1.1s ease-in-out, transform 0.7s ease-in-out;
      transform: scale(1.1);
    }
  }

  &__icon-toggle {
    display: block;
  }

  &__search-input {
    width: var(--spacing-5);
    border: none;
    outline: none;
    flex: 1;
    color: #E54222;
    transition: width 0.3s ease;

    &::placeholder {
      color: #CBCBCB;
      font: var(--font-preset-label-3);
    }
  }

  &__input-toggle {
    width: 100px;
    opacity: 1;
  }
}