@use '@/styles/mixins';

.header-navigation {
  &__toggle {
    background: transparent;
    border: none;
    color: inherit;
    width: var(--spacing-6);
    height: var(--spacing-6);

    @include mixins.media-query('sm') {
      width: var(--spacing-7);
      height: var(--spacing-7);
    }
  }
}