@use "mixins";
@use "layout";
@use "variables";
@use "bootstrap-grid";
@use "@/../public/css/clash-display";

:root {
  --background: #242424;
  --foreground: #fff;
  @each $key, $value in variables.$spacings {
    --#{$key}: #{$value};
  }
}

html,
body {
  height: 100%;
  margin: 0;
  max-width: 1440px;
  overflow-x: hidden;
  font-family: 'ClashDisplay-bold', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}