/* [project]/src/app/Header/Header.module.scss.module.css [app-client] (css) */



/* [project]/src/app/components/HeaderNavigationMobile/HeaderNavigationMobile.module.scss.module.css [app-client] (css) */
.HeaderNavigationMobile-module-scss-module__Gpzqzq__header-navigation__toggle {
  background: none;
  outline: none;
  border: none;
  color: inherit;
  width: var(--spacing-5);
  height: var(--spacing-5);
}

@media (width >= 601px) {
  .HeaderNavigationMobile-module-scss-module__Gpzqzq__header-navigation__toggle {
    width: var(--spacing-6);
    height: var(--spacing-6);
  }
}


/* [project]/src/app/components/Drawer/Drawer.module.scss.module.css [app-client] (css) */
.Drawer-module-scss-module__I7zYlq__drawer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  position: fixed;
  inset-block-start: 0;
  block-size: 100%;
  inline-size: 300px;
  background-color: #000;
  box-shadow: var(--spacing-1) 0 5px #00000080;
  transition: transform .3s ease-in-out;
  inset-inline-start: 0;
  transform: translateX(-100%);
  z-index: 2;
  color: #fff;
  max-inline-size: 100%;
  border-top-right-radius: var(--spacing-4);
  border-bottom-right-radius: var(--spacing-4);
  padding: var(--spacing-4);
}

.Drawer-module-scss-module__I7zYlq__drawer svg {
  width: var(--spacing-4);
  height: var(--spacing-4);
  stroke: none;
  fill: #fff;
}

.Drawer-module-scss-module__I7zYlq__drawer__open {
  transform: translateX(0);
}

.Drawer-module-scss-module__I7zYlq__drawer__open:before {
  position: absolute;
  background-color: #00000080;
  pointer-events: none;
  block-size: 100vh;
  inline-size: 200vw;
  z-index: -1;
  content: "";
  left: 0;
  margin-top: -16px;
}

.Drawer-module-scss-module__I7zYlq__drawer__shadow {
  box-shadow: 0 0;
}

.Drawer-module-scss-module__I7zYlq__drawer__header-nav {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}


/* [project]/src/app/components/HeaderNav/HeaderNav.module.scss.module.css [app-client] (css) */
.HeaderNav-module-scss-module__b7o-3a__header-nav {
  display: flex;
  justify-content: center;
}

.HeaderNav-module-scss-module__b7o-3a__header-nav__list {
  display: flex;
  gap: var(--spacing-4);
  position: relative;
  color: #ffdfdf;
}

.HeaderNav-module-scss-module__b7o-3a__header-nav__list a {
  font-family: ClashDisplay-Regular, "sans-serif";
  transform: scale(1);
  transition: transform .2s;
}

.HeaderNav-module-scss-module__b7o-3a__header-nav__list a:hover {
  transform: scale(1.1);
  color: #e54222;
}


/* [project]/src/app/layout.module.scss.module.css [app-client] (css) */
.layout-module-scss-module__uQLIpG__image-cover {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.layout-module-scss-module__uQLIpG__background-wrapper {
  filter: blur(200px);
  position: fixed;
  z-index: -1;
}

.layout-module-scss-module__uQLIpG__layout-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


/* [project]/src/styles/globals.scss.css [app-client] (css) */
/* unparseable [project]/src/styles/globals.scss.css [app-client] (css) */

/*# sourceMappingURL=src_022263._.css.map*/
