/* [project]/src/styles/globals.scss.css [app-client] (css) */
:root {
  --font-preset-heading-1: normal normal 700 3rem / 3.25rem "ClashDisplay-Regular", sans-serif;
}

@media (width >= 1440px) {
  :root {
    --font-preset-heading-1: normal normal 700 3.75rem / 4.5rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-2: normal normal 700 3rem / 4.125rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-3: normal normal 700 2.25rem / 1.875rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-4: normal normal 700 2.625rem / 3.25rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-5: normal normal 700 1.75rem / 1.75rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-6: normal normal 700 1.375rem / 1.625rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-7: normal normal 700 2.625rem / 3.25rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-8: normal normal 800 3.75rem / 4.5rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-9: normal normal 800 3rem / 3.25rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-10: normal normal 700 1.375rem / 1.625rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-11: normal normal 700 1.875rem / 2.375rem "ClashDisplay-Regular", sans-serif;
    --font-preset-label-1: normal normal 700 1.125rem / 1.125rem "ClashDisplay-Regular", sans-serif;
    --font-preset-label-3: normal normal 400 1.125rem / 1.125rem "ClashDisplay-Regular", sans-serif;
    --font-preset-label-4: normal normal 800 2.25rem / 2.375rem "ClashDisplay-Regular", sans-serif;
    --font-preset-label-6: normal normal 400 1rem / 1.125rem "ClashDisplay-Regular", sans-serif;
    --font-preset-label-7: normal normal 700 1.125rem / 1rem "ClashDisplay-Regular", sans-serif;
    --font-preset-label-8: normal normal 700 1.125rem / 1.25rem "ClashDisplay-Regular", sans-serif;
    --font-preset-copy-1: normal normal 400 1.75rem / 1.875rem "ClashDisplay-Regular", sans-serif;
  }
}

@media (width >= 1200px) {
  :root {
    --font-preset-heading-1: normal normal 700 3.75rem / 4.5rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-2: normal normal 700 2.625rem / 3.25rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-3: normal normal 700 1.875rem / 1.625rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-4: normal normal 700 1.875rem / 1.875rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-5: normal normal 700 1.375rem / 1.625rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-6: normal normal 700 1.25rem / 1.5rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-7: normal normal 700 2.25rem / 2.375rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-8: normal normal 800 3rem / 4.125rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-9: normal normal 800 3rem / 3.25rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-10: normal normal 700 1.375rem / 1.625rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-11: normal normal 700 1.875rem / 2.375rem "ClashDisplay-Regular", sans-serif;
    --font-preset-label-1: normal normal 700 1.125rem / 1.125rem "ClashDisplay-Regular", sans-serif;
    --font-preset-label-3: normal normal 400 1.125rem / 1.125rem "ClashDisplay-Regular", sans-serif;
    --font-preset-label-4: normal normal 800 1.875rem / 2.375rem "ClashDisplay-Regular", sans-serif;
    --font-preset-label-6: normal normal 400 1rem / 1.125rem "ClashDisplay-Regular", sans-serif;
    --font-preset-label-7: normal normal 700 1.125rem / 1rem "ClashDisplay-Regular", sans-serif;
    --font-preset-label-8: normal normal 700 1.125rem / 1.25rem "ClashDisplay-Regular", sans-serif;
    --font-preset-copy-1: normal normal 400 1.75rem / 1.875rem "ClashDisplay-Regular", sans-serif;
  }
}

@media only screen and (width >= 768px) and (width <= 1200px) {
  :root {
    --font-preset-heading-1: normal normal 700 3rem / 3.25rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-2: normal normal 700 2.25rem / 2.375rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-3: normal normal 700 1.875rem / 1.625rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-4: normal normal 700 1.375rem / 1.625rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-5: normal normal 700 1.375rem / 1.625rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-6: normal normal 700 1.25rem / 1.5rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-7: normal normal 700 1.875rem / 1.875rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-8: normal normal 800 2.25rem / 2.375rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-9: normal normal 800 1.875rem / 2.375rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-10: normal normal 600 1.125rem / 1.25rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-11: normal normal 700 1rem / 1.25rem "ClashDisplay-Regular", sans-serif;
    --font-preset-label-1: normal normal 700 .875rem / 1.125rem "ClashDisplay-Regular", sans-serif;
    --font-preset-label-3: normal normal 400 .875rem / 1.125rem "ClashDisplay-Regular", sans-serif;
    --font-preset-label-4: normal normal 800 1.75rem / 1.875rem "ClashDisplay-Regular", sans-serif;
    --font-preset-label-6: normal normal 400 1rem / 1.125rem "ClashDisplay-Regular", sans-serif;
    --font-preset-label-7: normal normal 700 .75rem / .75rem "ClashDisplay-Regular", sans-serif;
    --font-preset-label-8: normal normal 700 .75rem / .9375rem "ClashDisplay-Regular", sans-serif;
    --font-preset-copy-1: normal normal 400 1rem / 1.25rem "ClashDisplay-Regular", sans-serif;
  }
}

@media only screen and (width >= 375px) and (width <= 768px) {
  :root {
    --font-preset-heading-1: normal normal 700 2.625rem / 2.375rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-2: normal normal 700 1.875rem / 1.875rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-3: normal normal 700 1.75rem / 1.5rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-4: normal normal 700 1.125rem / 1.25rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-5: normal normal 700 1.25rem / 1.5rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-6: normal normal 700 1.125rem / 1.25rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-7: normal normal 700 1.375rem / 1.625rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-8: normal normal 800 1.75rem / 1.875rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-9: normal normal 800 1.125rem / 1.5rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-10: normal normal 400 1rem / 1.25rem "ClashDisplay-Regular", sans-serif;
    --font-preset-heading-11: normal normal 400 .75rem / .9375rem "ClashDisplay-Regular", sans-serif;
    --font-preset-label-1: normal normal 700 .75rem / 1.125rem "ClashDisplay-Regular", sans-serif;
    --font-preset-label-3: normal normal 400 .75rem / 1.125rem "ClashDisplay-Regular", sans-serif;
    --font-preset-label-4: normal normal 800 1.375rem / 1.625rem "ClashDisplay-Regular", sans-serif;
    --font-preset-label-6: normal normal 400 .75rem / 1rem "ClashDisplay-Regular", sans-serif;
    --font-preset-label-7: normal normal 700 .75rem / .75rem "ClashDisplay-Regular", sans-serif;
    --font-preset-label-8: normal normal 700 .75rem / .9375rem "ClashDisplay-Regular", sans-serif;
    --font-preset-copy-1: normal normal 400 .875rem / 1.125rem "ClashDisplay-Regular", sans-serif;
  }
}

.container {
  width: 100%;
  padding-inline: var(--spacing-4);
  padding-block: var(--spacing-3);
}

@media (width >= 768px) {
  .container {
    padding-inline: var(--spacing-4);
  }
}

@media (width >= 992px) {
  .container {
    padding-inline: var(--spacing-5);
  }
}

@media (width >= 1200px) {
  .container {
    padding-inline: var(--spacing-6);
  }
}

@media (width >= 1440px) {
  .container {
    padding-inline: var(--spacing-7);
  }
}

@media (width >= 1990px) {
  .container {
    max-width: 1520px;
  }
}

@font-face {
  font-family: ClashDisplay-Extralight;
  src: url("../media/ClashDisplay-Extralight.ff2b207b.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: ClashDisplay-Light;
  src: url("../media/ClashDisplay-Light.e6f4cac0.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: ClashDisplay-Regular;
  src: url("../media/ClashDisplay-Regular.0f5b7284.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: ClashDisplay-Medium;
  src: url("../media/ClashDisplay-Medium.f5e8df29.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: ClashDisplay-Semibold;
  src: url("../media/ClashDisplay-Semibold.9d38bd3a.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: ClashDisplay-Bold;
  src: url("../media/ClashDisplay-Bold.9bae96ce.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: ClashDisplay;
  src: url("../media/ClashDisplay-Bold.9bae96ce.woff2") format("woff2");
}

@font-face {
  font-family: Pokemon-Solid;
  src: url("../media/Pokemon Solid.913914d2.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: ClashDisplay-Variable;
  src: url("../media/ClashDisplay-Variable.a70461fc.woff2") format("woff2");
  font-weight: 100 200;
  font-display: swap;
  font-style: normal;
}

:root {
  --background: #242424;
  --foreground: #fff;
  --spacing-1: 2px;
  --spacing-2: 4px;
  --spacing-3: 8px;
  --spacing-4: 16px;
  --spacing-5: 24px;
  --spacing-6: 32px;
  --spacing-7: 40px;
  --spacing-8: 64px;
  --spacing-9: 80px;
  --spacing-10: 92px;
  --spacing-11: 100px;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: ClashDisplay-bold, sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/*# sourceMappingURL=src_styles_globals_scss_b52d8e.css.map*/