/* [project]/src/app/Header/Header.module.scss.module.css [app-client] (css) */
.Header-module-scss-module__cbhb_a__header {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  position: relative;
  z-index: 10;
}

.Header-module-scss-module__cbhb_a__header__mobile {
  display: flex;
  gap: 4px;
}

.Header-module-scss-module__cbhb_a__header__logo-wrapper {
  display: flex;
  gap: 12px;
}

.Header-module-scss-module__cbhb_a__header__logo-wrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.Header-module-scss-module__cbhb_a__header__logo-wrapper a img {
  width: 24px;
  height: 24px;
}

@media (width >= 601px) {
  .Header-module-scss-module__cbhb_a__header__logo-wrapper a img {
    width: 32px;
    height: 32px;
  }
}

.Header-module-scss-module__cbhb_a__header__logo-wrapper svg {
  width: 24px;
  height: 24px;
}

.Header-module-scss-module__cbhb_a__header__text {
  color: #fff;
  font-family: Pokemon-Solid, sans-serif;
  font-size: 24px;
  cursor: pointer;
}

.Header-module-scss-module__cbhb_a__header__search {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid #dedede;
  border-radius: 6px;
  padding: 4px 12px;
}

@media (width >= 601px) {
  .Header-module-scss-module__cbhb_a__header__search {
    padding: 4px 12px;
  }
}

.Header-module-scss-module__cbhb_a__header__search svg {
  width: 12px;
  height: 12px;
  cursor: pointer;
  color: #cbcbcb;
}

.Header-module-scss-module__cbhb_a__header__search input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 1rem;
  color: #e54222;
  font-family: ClashDisplay-Regular, "sans-serif";
  opacity: .4;
}

.Header-module-scss-module__cbhb_a__header__search input::placeholder {
  color: #cbcbcb;
}

.Header-module-scss-module__cbhb_a__header__search-icon {
  transition: color 1s ease-in-out, transform 1s ease-in-out;
}

.Header-module-scss-module__cbhb_a__header__search-icon:hover {
  color: #e54222;
  transition: color 1.1s ease-in-out, transform .7s ease-in-out;
  transform: scale(1.1);
}


/* [project]/src/app/components/HeaderNavigationMobile/HeaderNavigationMobile.module.scss.module.css [app-client] (css) */
.HeaderNavigationMobile-module-scss-module__Gpzqzq__header-navigation__toggle {
  background: none;
  outline: none;
  border: none;
  color: inherit;
  width: 24px;
  height: 24px;
}


/* [project]/src/app/components/Drawer/Drawer.module.scss.module.css [app-client] (css) */
.Drawer-module-scss-module__I7zYlq__drawer {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset-block-start: 0;
  block-size: 100%;
  inline-size: 300px;
  background-color: #000;
  box-shadow: 2px 0 5px #00000080;
  transition: transform .3s ease-in-out;
  inset-inline-start: 0;
  transform: translateX(-100%);
  z-index: 2;
  color: #fff;
  max-inline-size: 100%;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.Drawer-module-scss-module__I7zYlq__drawer:before {
  inset-inline-start: 100%;
}

.Drawer-module-scss-module__I7zYlq__drawer__open {
  transform: translateX(0);
}

.Drawer-module-scss-module__I7zYlq__drawer__open:before {
  position: absolute;
  background-color: #00000080;
  pointer-events: none;
  block-size: 100vh;
  inline-size: 200vw;
  z-index: -1;
  content: "";
  left: 0;
}

.Drawer-module-scss-module__I7zYlq__drawer__shadow {
  box-shadow: 0 0;
}

.Drawer-module-scss-module__I7zYlq__drawer__header-nav {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Drawer-module-scss-module__I7zYlq__drawer button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: none;
}


/* [project]/src/app/components/HeaderNav/HeaderNav.module.scss.module.css [app-client] (css) */
.HeaderNav-module-scss-module__b7o-3a__header-nav {
  display: flex;
  justify-content: center;
}

.HeaderNav-module-scss-module__b7o-3a__header-nav__list {
  display: flex;
  gap: 12px;
  position: relative;
  z-index: 23;
  color: #ffdfdf;
}

.HeaderNav-module-scss-module__b7o-3a__header-nav__list a {
  font-family: ClashDisplay-Regular, "sans-serif";
  transform: scale(1);
  transition: transform .2s;
}

.HeaderNav-module-scss-module__b7o-3a__header-nav__list a:hover {
  transform: scale(1.1);
  color: #e54222;
}


/* [project]/src/app/layout.module.scss.module.css [app-client] (css) */
.layout-module-scss-module__uQLIpG__image-cover {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.layout-module-scss-module__uQLIpG__background-wrapper {
  filter: blur(200px);
  position: fixed;
  z-index: -1;
}

.layout-module-scss-module__uQLIpG__layout-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


/* [project]/src/Footer/Footer.module.scss.module.css [app-client] (css) */
.Footer-module-scss-module__nn9bXG__footer {
  background-color: #111;
  color: #fff;
  padding: var(--spacing-4) var(--spacing-5);
  text-align: center;
}

.Footer-module-scss-module__nn9bXG__footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.Footer-module-scss-module__nn9bXG__footer__nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.Footer-module-scss-module__nn9bXG__footer__nav ul li a {
  color: #bbb;
  text-decoration: none;
}

.Footer-module-scss-module__nn9bXG__footer__nav ul li a:hover {
  color: #fff;
}

.Footer-module-scss-module__nn9bXG__footer__social {
  display: flex;
  gap: 1rem;
}

.Footer-module-scss-module__nn9bXG__footer__social a {
  color: #bbb;
  text-decoration: none;
}

.Footer-module-scss-module__nn9bXG__footer__social a:hover {
  color: #fff;
}

.Footer-module-scss-module__nn9bXG__footer__copy {
  display: flex;
  align-items: center;
  font-size: .875rem;
  opacity: .7;
  gap: 4px;
}

.Footer-module-scss-module__nn9bXG__footer__copy img {
  width: 16px;
  height: 16px;
}


/*# sourceMappingURL=src_dc095b._.css.map*/
