.pagination-wrapper {
  display: flex;
  padding: 1.5rem;

  &__pagination {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;

    &--active {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      border: 1px solid #eaeaea;
      border-radius: 0.5rem;
      cursor: pointer;
      background-color: red;
    }
  }

  &__link {
    width: 2rem;
    height: 2rem;
    border: 1px solid #eaeaea;
    border-radius: 0.5rem;
    cursor: pointer;
  }
}