.pokemon-wrapper {
  padding: 2.5rem 1.5rem;

  &__container {
    padding: 24px;
  }


  &__header {
    display: inline-flex;
    padding: 1rem;
  }

  &__list {
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
    /* Ensure the <ul> is scrollable */
    overflow-x: auto;
    white-space: nowrap; /* Prevent line wrapping */
    width: 100%; /* Makes the <ul> fill the parent horizontally */
    max-width: 100%; /* Ensures no unintended overflow on the parent */

    &::-webkit-scrollbar {
      height: 8px; /* Customize scrollbar height */
      background: #fff;
    }

    &::-webkit-scrollbar-thumb {
      background: #ff0702; /* Thumb color */
      border-radius: 2.5px; /* Rounded scrollbar corners */
      transition: background-color 0.5s ease-in-out, border-radius 0.5s ease-in-out;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555; /* Thumb hover color */
      cursor: pointer;
      border-radius: 0; /* Changes border radius on hover */
    }

    &::-webkit-scrollbar-thumb:active {
      background: #333; /* Active color */
      border-radius: 0; /* Retain flat corners */
    }
  }

  &__list-item {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center image and name */
    justify-content: center;
    text-align: center; /* Center align text under the image */
    gap: 0.5rem;
    margin: 0;
    min-width: 320px;
    height: 320px;

    $sizes: (1: 64px, 2: 128px, 3: 194px);

    @each $index, $size in $sizes {
      &:nth-child(#{$index}) {
        img {
          width: auto;
          height: $size;
        }
      }
    }
  }

  &__toggle-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__toggle {
    padding: 1rem;
    background: transparent;
    border: 1px solid white;
    color: #fff;
  }
}